body {
  &.trueachievement-extras {
    .ta-x-settings-menu {
      .tabs-nav {
        margin: 0;
        margin-bottom: 0;

        li {
          padding-top: 1rem;
          padding-bottom: 1.1rem;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .t-settings {
        padding: 0 1rem;

        .frm-grp {
          user-select: none;
          margin-right: 0;
        }

        .ta-x-accordion {
          margin: 0 -1rem;
          padding: 1rem;
          border-radius: 0;
          border: 0;
          user-select: none;
          cursor: pointer;

          span {
            pointer-events: none;
          }

          svg {
            height: 20px;
          }
        }

        .ta-x-accordion-content {
          flex-direction: column;
          align-items: normal;
          padding: 0;
          border: 0;
        }

        .ta-x-checkbox {
          flex-wrap: wrap;
          padding: 1rem 0;

          label {
            max-width: 85%;
          }
        }

        .ta-x-listbox {
          padding-top: 0;
          flex-direction: column;
          align-items: flex-start;

          > label {
            padding-bottom: 0.5rem;
          }

          .frm-lst {
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

            input {
              &.textbox {
                flex: 1;
              }

              &[type='submit'] {
                margin-left: 1rem;
              }
            }

            ul {
              width: 100%;

              li {
                > div {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 100%;

                  p {
                    word-break: break-all;
                  }

                  a {
                    margin-left: 1rem;
                  }
                }
              }
            }
          }

          &:has(+ .ta-x-accordion) {
            border-bottom: 0;
          }
        }

        .ta-x-select {
          max-width: 330px;

          &::after {
            top: -1rem;
          }
        }

        .ta-x-settings-helper-text {
          font-size: 1.2rem;
          padding-top: 0.5rem;
        }

        .ta-x-checkbox-helper-text {
          font-size: 1.2rem;
          margin: 0rem 1rem 1rem;
        }

        .ta-x-hide-border {
          border-bottom: 0;

          &-when-checked {
            &:has(input:checked) {
              border-bottom: 0;
            }
          }

          &-when-unchecked {
            &:has(input:not(:checked)) {
              border-bottom: 0;
            }
          }
        }
      }

      .ta-x-hide-padding-top {
        padding-top: 0;
      }

      .ta-x-tabs-content {
        max-height: 547px;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 1rem;
      }

      .ta-x-settings-menu-credits-wrapper,
      .ta-x-settings-menu-changelog-wrapper,
      .ta-x-settings-menu-documentation-wrapper {
        display: flex;
        flex-wrap: wrap;
        border: 0;

        a {
          width: 100%;
        }

        h1,
        h2 {
          width: 100%;
          line-height: unset;
        }

        h1 {
          margin-bottom: 1rem;
        }

        h2 {
          border-top: 2px solid #0e5814;
          border-bottom: 2px solid #0e5814;
          padding: 0.5rem;
          font-size: 1.6rem;
          margin: 1rem 0;
        }

        p {
          font-size: 1.4rem;
        }
      }

      .ta-x-settings-menu-documentation-wrapper {
        padding-bottom: 0;

        h1 {
          &:not(:first-of-type) {
            padding: 0.5rem 0;
            margin-top: 1rem;
            border-bottom: 2px solid #0552b5;
            border-top: 2px solid #0552b5;
          }
        }

        h2 {
          &:first-of-type {
            margin-top: 0;
            margin-bottom: 1rem;
          }
        }
      }

      .ta-x-settings-menu-credits-wrapper {
        padding-top: 0;
        padding-bottom: 0;

        h1 {
          border-top: 2px solid #e9b949;
          border-bottom: 2px solid #e9b949;
          padding: 0.5rem 0;
          margin-top: 0.5rem;
          margin-bottom: 0;
        }
      }

      .ta-x-settings-menu-changelog-wrapper {
        h2 {
          &:first-of-type {
            margin: 0;
          }
        }

        ul {
          margin-bottom: 0.5rem;
        }
      }

      .ta-x-markdown-marker {
        flex-basis: unset;
        align-self: center;
        padding-right: 1rem;
      }

      .ta-x-settings-menu-bottom {
        background: #4a5568;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        padding: 0 1rem !important;

        .title {
          margin-bottom: 0;
          color: #ddd;
          border: 0;

          a {
            background: unset;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .labels {
        .close {
          width: 5rem;
          padding: 1rem;

          i {
            pointer-events: none;
          }
        }
      }
    }

    [data-theme='dark'] {
      .ta-x-settings-menu {
        &-bottom {
          .buttons {
            border-color: #000 !important;

            a {
              background: #4299e1 !important;
            }
          }
        }
      }
    }
  }
}
